html,body{
  min-height: 100%;
  height: 100%;
}
body{
  box-sizing: border-box;
}
.wrapper{
  overflow: hidden;
  width:100%;
  height: 100%;
  position: relative;
}
.inner {
  width: 200%;
  height: 120%;
  position: absolute;
}

.test{
  height: auto;
  position: absolute;
  top: 0%;
  z-index: 1;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
    outline: none;
}
  a{
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    //test popup

    color: #34a58e;
    text-decoration: none;
    outline: none;
  }

  img{
   width: 100%;
   height: 100%;
  }

  a:hover {
    left: -20px;
    right: -20px;
    top: -20px;
    bottom:-20px;
    // box-shadow: 0 2px 2px #FAF2AE;

    // test popup

    border-bottom-color: transparent;
    color: #34a58e !important;
  }


.test1 {
  left: 12%;
  top: 42%;
  width: 23.5%;
  height: 84%;
}


.test2{
left: 49.68%;
top: 70.3%;
width: 128px;
height: 100px;
}

.test3{
  left: 50%;
  top: 50%;
  background-color: red;
}
.test4{
  left: 70%;
  top: 70%;
  background-color: red;
}
.test5{
  left: 90%;
  top: 90%;
  background-color: red;
}
.test6{
  left: 100%;
  top: 100%;
  background-color: red;
}






