html,body{
  min-height: 100%;
  height: 100%;
}
body{
  box-sizing: border-box;
}
.wrapper{
  overflow: hidden;
  width:100%;
  height: 100%;
  position: relative;
}
.inner {
  width: 200%;
  height: 120%;
  position: absolute;
}

.test{
  height: auto;
  position: absolute;
  top: 0%;
  z-index: 1;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
    outline: none;
}
  a{
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  img{
   width: 100%;
   height: 100%;
  }

  a:hover {
    left: -20px;
    right: -20px;
    top: -20px;
    bottom:-20px;
  }


.test1 {
  left: 12%;
  top: 42%;
  width: 23.5%;
  height: 84%;
}


.test2{
left: 49.68%;
top: 70.3%;
width: 128px;
height: 100px;
}

.test3{
left: 63.4%;
top: 81.3%;
width: 10%;
height: 34%;
}

.test4{
  left: 49.68%;
  top: 47.3%;
  width: 100px;
  height: 80px;
}


#gps * {
 display: none;
}






#bg_vk_ext{
  background-image: url("../images/reportages/VK_extérieur.jpg");
  background-repeat: none;
}

#bg_vk_int{
  background-image: url("../images/reportages/VK_intérieur.jpg");
  background-repeat: none;
}

h1, .boite, img {
  color: white;
  
}

h1{
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
}

.boite {
  border: 25px solid white;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}

.boutonRond {
  width:50px;
  height:50px;
  background:#cc0000;
  font:bold 13px Arial;
  border-radius:50%;
  border:none;
  color:#fff;
  margin-left: 1000px;
  margin-top: 100px;
}
